body
  //background: #ccc
  display: flex

ul,li
  padding: 0
  margin: 0

li
  list-style: none
  display: inline-block

.inline_ele
  display: inline-block
  margin-left: 10px
  &:first-child
    margin-left: 0

.edge
  margin-top: 10px
