//.rightView
//  position: absolute
//  left: 120px
//  top: 9px
//  color: #ffffff

.tip-lib, .tip-lib1, .tip-lib2, .tip-lib3
  width: 100px
  height: 40px
  background: #ffffff
  text-align: center
  line-height: 40px
  cursor: pointer
  display: inline-block
  margin-left: 20px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.tip-lib
  margin-left: 0

.imt
  background: url("../assets/beijing.png") no-repeat
  position: fixed
  top: 0px
  right: 0px
  width: 90px
  height: 80px

.view_cont
  width: 100%
  padding: 20px 20px
  box-sizing: border-box
  .col
    margin-top: 10px

  .row
    //display: flex
    //justify-content: space-between
    margin-top: 20px
    .text_view
      span
        margin-left: 20px
