
._btn
  width: $def_width + px
  height: $def_height + px
  background: #ffffff
  @include radius(5px)
  text-align: center
  cursor: pointer
  font-size: 14px
  border: 2px solid #ccc
  line-height: $def_height + px
  font-family: "Bodoni MT Condensed"
  &:hover
    background: #ccc
.is_per
  background: #346bff
  border: 2px solid #346bff
  color: #ffffff
  &:hover
    border: 2px solid #4683ff
    background: #4683ff

.is_error
  background: #ff0000
  border: 2px solid #ff0000
  color: #ffffff
  &:hover
    border: 2px solid #ff3b35
    background: #ff3b35

.is_warn
  border: 2px solid #ffd934
  background: #ffd934
  color: #ffffff
  &:hover
    border: 2px solid #ffe347
    background: #ffe347