
.is_small
  padding: 5px 10px
  font-size: 12px
  //line-height: $def_height * (1 - 0.2) + px
  &.iconfont
    font-size: 12px
    &::before
      margin-right: 3px

.is_larger
  padding: 7px 20px
  font-size: 18px
  //line-height: $def_height * (1 + 0.2) + px
  &.iconfont
    font-size: 18px
    &::before
      margin-right: 3px

.is_disabled
  pointer-events: none
  cursor: not-allowed
  background: #d6d6d6
  border: 2px solid #d6d6d6
  color: #a9b1b8

.is_block
  display: block
  ._radios, ._input, ._select
    display: block