$def_width: 80
$def_height: 35
$def_input_height: 30
$def_select_width: 180
$def_border_col: #cccccc
$def_option_max_height: 200px
$def_radio_width: 10px
$def_checkbox_width: 12px
$def_calendar_picker_size: 265px
$def_process_height: 10px
$def_circle_size: 35
$def_black_color: #000

@mixin def_change ($c)
  $def_border_col: $c

@mixin is_show ($color)
  @if $color == $def_border_col
    display: none
  @else
    display: block

@mixin radius ($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  border-radius: $rad
  
@mixin def_transform ($cont)
  -webkit-transform: $cont
  -moz-transform: $cont
  -ms-transform: $cont
  -o-transform: $cont
  transform: $cont

@mixin def_transition ($prop, $time)
  -webkit-transition: $prop $time
  -moz-transition: $prop $time
  -ms-transition: $prop $time
  -o-transition: $prop $time
  transition: $prop $time
  
@mixin def_user_select ($type)
  -webkit-user-select: $type
  -moz-user-select: $type
  -ms-user-select: $type
  user-select: $type

@mixin def_user_drag ($type)
  -webkit-user-drag: $type

@mixin def_animation ($name, $time, $other, $delayTime: 0s)
  @if $delayTime == 0s
    -webkit-animation: $name $time $other
    animation: $name $time $other
  @else
    -webkit-animation: $name $time $other
    animation: $name $time $other
    -webkit-animation-delay: $delayTime
    animation-delay: $delayTime
