._radios
  margin-left: 20px
  ._rad
    width: $def_radio_width
    height: $def_radio_width
    @include radius(10px)
    border: 2px solid #cccccc
    position: relative
    cursor: pointer
    box-shadow: 0px 0px 3px 2px #ddd
    display: inline-block
    .pos
      &:after
        content: ''
        width: 6px
        height: 6px
        @include radius(10px)
        background: #346bff
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto